body {
  background-color: #92d3e3;
}
.card img {
  height: 300px;
  object-fit: cover;
}
.card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s;
  background-color: #ae0459;
  color: white;
}